body{
    margin: 0;
    padding: 0;
    background-color: rgb(28, 10, 10);
    font-family: sans-serif;
}
ul{
    padding: 0;
    list-style: none;
}
a{
    text-decoration: none;
}
header{
    background-color: rgb(171, 97, 0);
    height: 4.5rem;
    align-content: center;
    box-shadow: 0 0 20px rgba(171, 97, 0, 0.6);
    display: grid;
    grid-template-columns: 1fr 10fr;
}
#headerUl{
    display: flex;
    justify-content: space-around;
}
.navLink{
    color: white;
    font-weight: 600;
}
#logo:first-child{
    width: 2rem;
    height: 2rem;
    border: 2px solid rgb(240, 240, 240);
    justify-self: center;
    align-self: center;
    border-radius: 10px;
    box-shadow: 0 0 5px rgba(255, 255, 255, 0.6);
}
#logo div div{
    width: 1rem;
    height: 1rem;
    border: 1px solid white;
    justify-self: center;
    margin-top: 0.4rem;
    border-radius: 5px;
    box-shadow: inset 0 0 10px rgba(0, 0, 0, 0.4);
}
#content{
    display: grid;
    border: 2px solid rgba(0, 0, 0, 0.1);
    box-shadow: 0 0 10px rgba(0, 0, 0, 1);
}
#ProjectWrapper{
    margin: 1rem;
    grid-template-rows: 1fr 3fr;
    column-gap: 2px;
}
.cards{
    height: 10rem;
    width: 10rem;
    background-color: antiquewhite;
    border-radius: 2px;
    display: grid;
    grid-template-rows: 1fr 5fr;
    box-shadow: 2px 3px 8px rgba(0, 0, 0, 0.9);
}
.cards .taskTitle{
    font-weight: 700;
    padding-left: 0.5rem;
}
#AddProjects > p:first-child{
    margin: 0;
    font-size: 1rem;
    padding-top: 0.4rem;
    padding-left: 0.4rem;
    font-weight: 600;
}
input.cardsTitle{
    all: unset;
    padding-left: 3px;
    padding-top: 3px;
    width: 8rem;
}
#addButton{
    all: unset;
    border-radius: 60%;
    width: 6.8rem;
    height: 6rem;
    justify-self: center;
    align-self: center;
    font-size: 6rem;
    color: rgba(0, 0, 0, 1);
    text-align: center;
    padding-bottom: 0.8rem;
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.4);
}
#addButton:active{
    box-shadow: 0 0 2px rgba(0, 0, 0, 0.4);
    color: rgba(0, 0, 0, 0.8);
}
#workSpace{
    margin-top: 1rem;
    padding: 0.5rem;
    gap: 10px;
    background-color: #2a9d8f;
}